@import "reset.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");

:root {
  --text-color: #000; /* Text color */
  --red: #c8202f;
  --green: #66b966;
  --black: #000;
  --yellow: #fbc23d;
  --border-color: #cdcdcd;
  --gray: #6d7175;
  --orange: #f4743c;
}

$pc: 1023px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

body {
  color: var(--text-color);
  font-size: 18px;
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  line-height: 120%;
  min-height: 100dvh;
}
[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.h1-title {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  @media (max-width: $mobile) {
    font-size: 24px;
  }
}

.h2-title {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  @media (max-width: $mobile) {
    font-size: 24px;
    line-height: 120%;
  }
}

.h3-title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

//=========== HEADER =============================================================================================================================================

.header {
  background: var(--black);
  padding: 10px 0;

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .header__logo
  &__logo {
  }
}

//=========== MAIN =============================================================================================================================================
.hero {
  margin: 10px 0;

  // .hero__container
  &__container {
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    border: 2px dashed var(--black);
    padding: 20px 10px;
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .hero__left
  &__left {
    overflow: hidden;
    max-width: 100vw;
    width: 100%;
  }

  // .hero__slider-top
  &__slider-top {
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--black);
    cursor: pointer;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    z-index: 2;
    &-prev {
      left: 0;
      border-radius: 0 3px 3px 0;
    }
    &-next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  }
  // .hero__slide-top
  &__slide-top {
    display: flex !important;
    align-items: center;
    justify-content: center;
    img {
      width: 400px;
      aspect-ratio: auto 400 / 400;
      height: 400px;
      display: block;
      border-radius: 8px;
      @media (max-width: $mobile) {
        width: 100%;
        height: auto;
      }
    }
  }
  // .hero__slider-bottom
  &__slider-bottom {
    margin-top: 18px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    .slick-list {
      width: 100%;
      padding: 0 !important;
      .slick-track {
        width: 100% !important;
        display: flex;
        justify-content: center;
      }
    }
  }
  // .hero__slide-bottom
  &__slide-bottom {
    border-radius: 2px;
    box-shadow: 0 0 0 1px #b3b3b3;
    cursor: pointer !important;
    overflow: hidden;
    width: 65px;
    height: 65px;
    margin: 5px;
    max-width: 65px;
    max-height: 65px;
    transition: all 0.2s;
    flex-shrink: 0;
    img {
      height: 100%;
      width: 100%;
      opacity: 0.7;
      transition: all 0.2s;
    }
    &.slick-active {
      box-shadow: 0 0 0 3px #708090;
      img {
        opacity: 1;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 0 3px #708090;
        img {
          opacity: 1;
        }
      }
    }
  }
  // .hero__right
  &__right {
  }
  // .hero__right-subtitle
  &__right-subtitle {
    line-height: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 4px;
      font-size: 16px;
      text-align: center;
    }
  }
  // .hero__right-stars
  &__right-stars {
    display: flex;
    align-items: center;
    gap: 4px;
    li {
      i {
        color: var(--yellow);
        font-size: 24px;
        @media (max-width: $mobile) {
          font-size: 22px;
        }
      }
    }
  }

  // .hero__right-title
  &__right-title {
    margin-top: 16px;
    @media (max-width: $mobile) {
      text-align: center;
      margin-top: 12px;
    }
  }
  // .hero__right-list
  &__right-list {
    margin-top: 20px;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 40px;
      i {
        color: var(--red);
        font-size: 34px;
      }
      @media (max-width: $mobile) {
        margin-top: 20px;
        align-items: flex-start;
      }
    }
  }
}
//========================================================================================================================================================

.countdown {
  // .countdown__container
  &__container {
  }
  &__wrap {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px 16px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--red);
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    i {
      font-size: 30px;
    }
  }
  &__text {
  }
  // .countdown__black
  &__black {
    color: var(--black);
    font-weight: 400;
  }
}
//==== left cards ====================================================================================================================================================

.offer {
  margin-top: 20px;
  padding-bottom: 20px;
  // .offer__container
  &__container {
  }
  // .offer__wrap
  &__wrap {
    box-shadow: rgb(191, 191, 191) 1.22465e-16px 2px 5px 2px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: start;
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .offer__left
  &__left {
    border: 1px solid var(--border-color);
    padding: 10px;
    @media (max-width: $mobileSmall) {
      margin: 0;
    }
  }
  // .offer__step
  &__step {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  // .offer__step-1
  &__step-1 {
  }
  // .offer__step-title
  &__step-title {
  }
  // .offer__step-header
  &__step-header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-size: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #eef1ff;
    padding: 0 10px 5px;
  }
  // .offer__step-subtitle
  &__step-subtitle {
  }
  // .offer__step-cards
  &__step-cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  // .offer__step-card
  &__step-card {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #eef1ff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
    position: relative;
    transition: all 0.2s;
    @media (any-hover: hover) {
      &:hover {
        background: rgba(206, 206, 206, 0.34);
      }
    }
    &-highlight {
      background: #ff0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.11);
      border: 0;
      width: calc(100% + 12px);
      left: -6px;
      margin-top: 6px;
      margin-bottom: 10px;
    }
  }
  // .offer__step-card-product
  &__step-card-product {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
  }
  // .offer__step-card-radio
  &__step-card-radio {
    width: 20px;
    height: 20px;
    min-width: 20px;
    @media (max-width: $mobile) {
      width: 12px;
      height: 12px;
      min-width: 12px;
    }
  }
  // .offer__step-card-img
  &__step-card-img {
    border: 1px solid #e1e1e1;
    margin: 0 5px 0 0px;
    border-radius: 2px;
    background: #fff;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    @media (max-width: $tablet) {
      width: 60px;
      height: 60px;
    }
    @media (max-width: $mobile) {
      width: 40px;
      height: 40px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
  // .offer__step-card-label
  &__step-card-label {
    font-size: 16px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  // .offer__step-card-numbers
  &__step-card-numbers {
    min-width: 100px;
    text-align: right;
  }
  // .offer__step-card-old
  &__step-card-old {
    color: var(--red);
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    text-decoration: line-through;
    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 110%;
    }
  }
  // .offer__step-card-discount
  &__step-card-discount {
    color: var(--green);
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    @media (max-width: $mobile) {
      font-size: 16px;
      line-height: 110%;
    }
  }
  // .offer__step-card-price
  &__step-card-price {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 110%;
    }
  }
  // .offer__step-card-bonus
  &__step-card-bonus {
    color: var(--text-color);
    font-size: 13px;
    line-height: 110%;
  }
  &__step-card-name {
  }
  // .offer__step-card-tag
  &__step-card-tag {
    color: var(--red);
    font-size: 13px;
    font-weight: 700;
  }
}

//====== HOOK ==================================================================================================================================================

.offer {
  // .offer__step-hook
  &__step-hook {
    border: 2px dashed var(--red);
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
  }
  // .offer__step-hook-img
  &__step-hook-img {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    margin-top: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // .offer__step-hook-info
  &__step-hook-info {
    padding: 15px;
  }
  // .offer__step-hook-head
  &__step-hook-head {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    i {
      font-size: 25px;
      color: var(--red);
      animation: blink 1s infinite;
    }
  }
  &__step-hook-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
  // .offer__step-hook-text
  &__step-hook-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 170%;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//===== STEP 2, 3 ===================================================================================================================================================

.offer {
  // .offer__step
  &__step {
  }
  // .offer__step-2
  &__step-2 {
  }
  // .offer__step-title
  &__step-title {
  }
  // .offer__step-inputs
  &__step-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    @media (max-width: $mobile) {
      gap: 8px;
    }
  }
  &__step-inputs-input,
  &__step-select {
    width: 100%;
    min-height: 22px;
    padding: 11px 15px;
    display: block;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: #fff;
    font-size: 16px;
    transition: all 0.2s;
    min-width: 140px;
    &-error {
      border: 1px solid var(--red);
      color: var(--red);
      &::placeholder {
        color: var(--red);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }
    &:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      outline: none;
    }
  }
  &__step-select-wrap {
    position: relative;
    &::after {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid gray;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      content: "";
      z-index: 2;
      pointer-events: none;
    }
  }
  &__step-select {
    cursor: pointer;
    appearance: none;
  }
  // .offer__step-inputs-double
  &__step-inputs-double {
    display: flex;
    align-items: center;
    gap: 16px;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
    @media (max-width: $mobile) {
      flex-direction: row;
      gap: 8px;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  &__step-inputs-tripple {
    display: flex;
    align-items: center;
    gap: 16px;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
    @media (max-width: $mobile) {
      gap: 8px;
    }

    .offer__step-inputs-input,
    .offer__step-select-wrap {
      width: calc(100% / 3 - 16px / 3);
      @media (max-width: $tablet) {
        width: 100%;
      }
    }
  }
}

//==== SAFE GUARD ====================================================================================================================================================

.offer {
  // .offer__safe-guard
  &__safe-guard {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  // .offer__safe-guard-checkbox
  &__safe-guard-checkbox {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  // .offer__safe-guard-text
  &__safe-guard-text {
    font-size: 12px;
    color: var(--gray);
    line-height: 150%;
  }
}

//======== RIGHT COL SUMMARY================================================================================================================================================

.offer {
  // .offer__right
  &__right {
    border: 1px solid var(--border-color);
    padding: 10px 10px 20px 10px;
    @media (max-width: $mobileSmall) {
      margin: 0;
    }
  }
  // .offer__step-title
  &__step-title {
  }
  &__step-desc {
    font-size: 14px;
    line-height: 120%;
  }
  // .offer__summary
  &__summary {
    margin-top: 10px;
    border: 1px solid var(--border-color);
    padding: 5px;
  }
  // .offer__summary-header
  &__summary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  // .offer__summary-subtitle
  &__summary-subtitle {
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
  }
  // .offer__summary-items
  &__summary-items {
    padding: 18px 5px 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  // .offer__summary-item
  &__summary-item {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  // .offer__summary-img
  &__summary-img {
    width: 50px;
    height: 50px;
    position: relative;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 2;
      border-radius: 8px;
    }
    @media (max-width: $tablet) {
      width: 40px;
      height: 40px;
    }
  }
  // .offer__summary-quantity
  &__summary-quantity {
    position: absolute;
    top: -12px;
    right: -12px;
    height: 21px;
    width: 21px;
    line-height: 100%;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    border-radius: 50%;
    background: rgba(114, 114, 114, 0.9);
    color: #fff;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .offer__summary-name
  &__summary-name {
    flex-grow: 1;
    font-size: 14px;
    line-height: 120%;
  }
  // .offer__summary-info
  &__summary-info {
    text-align: right;
    flex-shrink: 0;
    .offer__step-card-old {
      font-size: 14px;
      line-height: 110%;
    }
  }
  // .offer__step-card-old
  &__step-card-old {
  }
  // .offer__step-card-discount
  &__step-card-discount {
  }
  // .offer__step-card-price
  &__step-card-price {
  }
  // .offer__step-card-bonus
  &__step-card-bonus {
  }

  //========================================================================================================================================================

  // .offer__summary-total
  &__summary-total {
    border-top: 1px solid var(--border-color);
    padding-top: 16px;
    margin-top: 20px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  // .offer__summary-subtitle
  &__summary-subtitle {
  }
  // .offer__summary-final
  &__summary-final {
    font-size: 16px;
    line-height: 120%;
  }
}

//============ PAYMENT METHOD ============================================================================================================================================

.offer {
  // .offer__payment
  &__payment {
    border-radius: 6px;
    border: 1px solid #eef1ff;
    margin-top: 20px;
    overflow: hidden;
    &-error {
      border: 2px solid var(--red);
      .offer__payment-error-label {
        display: block;
      }
      .offer__payment-details-input {
        box-shadow: 0 0 0 2px #d72829, 0 0 2px 1px #771b1c;
        &::placeholder {
          color: var(--red);
          opacity: 0.4;
        }
      }
    }
    @media (max-width: $mobile) {
      margin-top: 16px;
    }
  }
  &__payment-options {
  }
  &__payment-error-label {
    background: var(--red);
    color: #fff;
    font-size: 14px;
    padding: 8px 10px;
    display: none;
  }
  // .offer__payment-option
  &__payment-option {
    &:first-child {
      .offer__payment-details {
        border-top: 1px solid #d9d9d9;
      }
    }
    &:not(:first-child) {
      border-top: 1px solid #d9d9d9;
      .offer__payment-details {
        border-top: 1px solid #d9d9d9;
      }
    }
  }
  // .offer__payment-header
  &__payment-header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    &:has(.offer__payment-radio:checked) {
      & ~ .offer__payment-details {
        display: flex;
      }
    }
    @media (max-width: $mobile) {
      gap: 8px;
    }
  }
  // .offer__payment-radio
  &__payment-radio {
    width: 18px;
    height: 18px;
    outline: none;
    border-radius: 50%;
    -webkit-appearance: none;
    box-shadow: 0 0 0 0 var(--orange) inset;
    appearance: none;
    border: 1px solid #d9d9d9;
    transition: all 0.2s;
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid var(--orange);
      }
    }
    &:checked {
      box-shadow: 0 0 0 10px var(--orange) inset;
      border: 0;
    }
  }
  // .offer__payment-header-text
  &__payment-header-text {
    flex-grow: 1;
    font-size: 14px;
    line-height: 120%;
    font-weight: 700;
    color: var(--gray);
  }
  &__payment-logo {
    flex-grow: 1;
    img {
      height: 20px;
    }
  }
  // .offer__payment-cards
  &__payment-cards {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      height: 30px;
    }
  }
  // .offer__payment-details
  &__payment-details {
    background-color: #fafafa;
    padding: 10px 10px 16px 10px;
    display: none;
    flex-direction: column;
    > div:not(:first-child) {
      margin-top: 16px;
    }
  }
  // .offer__payment-details-row
  &__payment-details-row {
    display: flex;
    flex-direction: column;
  }
  // .offer__payment-details-duo
  &__payment-details-duo {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 250px));
    gap: 24px;
    @media (max-width: $tablet) {
      gap: 16px;
    }
  }
  &__payment-details-label {
    font-size: 14px;
    color: var(--gray);
  }
  &__payment-details-input {
    padding: 8px 12px;
    box-shadow: 0 0 0 1px #383636, 0 0 2px 1px rgba(56, 54, 54, 0.6),
      inset 0 0 1px 0 #fff;
    border-radius: 3px;
    font-size: 16px;
    color: var(--text-color);
    transition: box-shadow 0.2s;
    margin-top: 6px;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 0 1px #3c6deb, 0 0 2px 1px #5286f9, inset 0 0 1px 0 #fff;
      }
    }
    &:focus {
      box-shadow: 0 0 0 2px #3c6deb, 0 0 2px 1px #5286f9, inset 0 0 1px 0 #fff;
    }
    &::placeholder {
      color: #cfd7df;
    }
    &-complete {
      box-shadow: 0 0 0 2px #28d731, 0 0 2px 1px #1b7015;
      @media (any-hover: hover) {
        &:hover {
          box-shadow: 0 0 0 2px #28d731, 0 0 2px 1px #1b7015;
        }
      }
      &:focus {
        box-shadow: 0 0 0 2px #28d731, 0 0 2px 1px #1b7015;
      }
    }
  }
  &__payment-offsite-img {
    width: 70px;
    height: 40px;
    align-self: center;
  }
  &__payment-offsite-text {
    font-size: 14px;
    line-height: 170%;
    color: var(--gray);
    text-align: center;
  }
}

//======= PURCHASE BUTTON =================================================================================================================================================

.offer {
  // .offer__payment-button
  &__payment-button {
    border-radius: 6px;
    margin-top: 16px;
    padding: 15px 10px;
    background: var(--red);
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 10px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    color: #fff;
  }
  // .offer__payment-button-top
  &__payment-button-top {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    gap: 4px;
    line-height: 120%;
    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }
  // .offer__payment-button-button
  &__payment-button-button {
    font-size: 14px;
    line-height: 100%;
  }
}

//========= logos img or list ===============================================================================================================================================

.offer {
  // .offer__logos
  &__logos {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  // .offer__logos-img
  &__logos-img {
    max-height: 60px;
  }
  // .offer__logos-list
  &__logos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 100%;
    li {
      max-height: 50px;
      max-width: 50px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  // .offer__logos-text
  &__logos-text {
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 4px;
    i {
      font-size: 16px;
    }
  }
}

//========= 30 Day HERO Guarantee ===============================================================================================================================================

.offer {
  // .offer__guarantee
  &__guarantee {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    img {
      width: 60px;
      height: auto;
      @media (max-width: $mobile) {
        width: 50px;
        height: auto;
      }
    }
  }
  // .offer__guarantee-text
  &__guarantee-text {
  }
  // .offer__guarantee-title
  &__guarantee-title {
    font-size: 18px;
    line-height: 120%;
    font-weight: 700;
  }
  // .offer__guarantee-desc
  &__guarantee-desc {
    font-size: 14px;
    line-height: 120%;
  }
}

//========================================================================================================================================================

.offer {
  // .offer__testimonials
  &__testimonials {
    margin-top: 24px;
  }
  // .offer__testimonials-title
  &__testimonials-title {
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
  }
  // .offer__testimonials-wrap
  &__testimonials-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
    @media (max-width: $mobile) {
      padding: 0;
    }
  }
  // .offer__testimonials-item
  &__testimonials-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  // .offer__testimonials-photo
  &__testimonials-photo {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  // .offer__testimonials-info
  &__testimonials-info {
    width: 100%;
  }
  // .offer__testimonials-author
  &__testimonials-author {
    border-radius: 18px;
    padding: 10px 12px;
    background: rgb(240, 242, 245);
  }
  // .offer__testimonials-name
  &__testimonials-name {
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
  }
  // .offer__testimonials-comment
  &__testimonials-comment {
    font-size: 15px;
    line-height: 140%;
    margin-top: 6px;
  }
  // .offer__testimonials-bottom
  &__testimonials-bottom {
    margin-top: 6px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    line-height: 1;
    color: var(--gray);
  }
  // .offer__testimonials-like
  &__testimonials-like {
    font-weight: 700;
  }
  // .offer__testimonials-reply
  &__testimonials-reply {
    font-weight: 700;
  }
  // .offer__testimonials-date
  &__testimonials-date {
  }
}

//====== FAQ ==================================================================================================================================================

.faq {
  padding-top: 45px;
  padding-bottom: 45px;
  background: rgb(247, 247, 247);
  // .faq__container
  &__container {
  }
  // .faq__title
  &__title {
    text-align: center;
  }
  // .faq__accordion
  &__accordion {
    width: 100%;
    margin: 35px auto 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  // .faq__accordion-toggle
  &__accordion-toggle {
    cursor: pointer;
    padding: 20px 30px 20px 25px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 120%;
    font-weight: 700;
    position: relative;

    i {
      flex-shrink: 0;
      font-size: 18px;
      line-height: 18px;
      transition: transform 0.3s;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.active {
      i {
        transform: translateY(-50%) rotateX(180deg);
      }
    }
    @media (max-width: $mobile) {
      font-size: 16px;
      padding: 16px 30px 16px 20px;
    }
  }
  // .faq__accordion-content
  &__accordion-content {
    display: none;
    padding: 20px 25px;
    font-size: 16px;
    line-height: 140%;
    @media (max-width: $mobile) {
      padding: 16px 20px;
    }
  }
}

//========= FOOTER ===============================================================================================================================================

.footer {
  background: var(--black);
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  a {
    color: #fff;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .footer__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  // .footer__logo
  &__logo {
    img {
      max-height: 55px;
      width: 100%;
      height: 100%;
    }
  }
  // .footer__phone
  &__phone {
  }
  // .footer__email
  &__email {
  }
  // .footer__nav
  &__nav {
    display: flex;
    align-items: center;
    li {
      &:not(:first-child) {
        border-left: 1px solid #fff;
        padding-left: 6px;
        margin-left: 6px;
      }
    }
  }
  // .footer__link
  &__link {
  }
  // .footer__copy
  &__copy {
  }
}
